# ---- Gunicorn Settings ----
GUNICORN_WORKERS=5
GUNICORN_THREADS=1

# ---- CloudWatch Settings ----
CLOUDWATCH_ENABLED=True
CW_NAMESPACE=GunicornWorkers
CW_PUSH_INTERVAL=10
INSTANCE_ID=docker-local

# ---- AWS Credentials ----
AWS_ACCESS_KEY_ID=your-access-key-here
AWS_SECRET_ACCESS_KEY=your-secret-key-here
AWS_DEFAULT_REGION=ap-south-1
